* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Segoue", sans-serif;
    line-height: 1.6em;
    color:#ab20fd;
    height: 100%;
}

a {
    color: 	#fbf8fd;
    text-decoration: none;
}

.container {
    max-width: 740px;
    background: transparent;
    margin: auto;
}

.container.main {
    min-height: calc(100vh - 180px);
}

.clearfix {
    clear: both;
}

header {
    padding: 30px 20px;
    background: #200589;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

header h1 {
    margin-bottom: 5px;
}

header h1 span {
    color: #fff;
}

section {
    padding: 30px 20px 20px 20px
}

footer {
    padding: 20px;
    background: #200589;
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

#search-form {
    display: block;
    margin-bottom: 15px;
}

.fieldcontainer {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}


.search-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 45%;
    padding: 12px 8px;
    padding-right: 44px;
    color: #000;
    font-size: 1.6em;
    border: none;
    border-bottom: 3px solid #ab20fd;
}

#search-btn {
    position: absolute;
    background: transparent url('../img/search.png') top left no-repeat;
    right: 360px;
    top: 5px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    zoom: 1;
    opacity: .65;
    filter: alpha (opacity=65);
}

#search-btn:hover {
    filter: alpha (opacity=90);
    opacity: 0.9;
}

#results li {
    padding: 10px 0;
    border-bottom: 1px solid #7d12ff;
    list-style: none;
    overflow: auto; 
}

.list-left {
   float: left;
   width: 20%; 
}

.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px solid #7d12ff;
}

h3 {
    color: #200589;
}

.list-right {
    float: right;
    width: 78%;
}

.cTitle {
    color: #000;
}